<html>
<head>
  <title>Dashboard amministratore</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>

<h1 style="text-align: center; font-size: 300%">Dashboard di {{amministratore.username}}</h1>

<div class="tabellaAeroporti">
  <form>
    <h1>Lista aeroporti</h1>
    <input type="text" name="nome" required [(ngModel)]="aerInput.nome" placeholder="nome" />
    <input type="text" name="citta" required [(ngModel)]="aerInput.citta" placeholder="citta" />
    <button class="btn" style="color: black" (click) = "aggiungiAeroporto()">Aggiungi</button>
  </form>
  <br>
  <br>
<table class="pure-table pure-table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Città</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let aeroporto of aeroporti">
    <td>{{aeroporto.nome}}</td>
    <td>{{aeroporto.citta}}</td>
  </tr>

  <tbody>
  <tr>
    <td>ok</td>
    <td>ok</td>
  </tr>

  </tbody>
</table>
</div>

<div class="tabellaTratte">
  <form>
    <h1>Lista tratte</h1>
    <label>Aeroporto di partenza</label>
    <select [(ngModel)]="aerPartInput" style="margin: 5px">
      <option *ngFor="let aeroporto of aeroporti" [ngValue]="aeroporto">{{aeroporto.nome}} </option>
    </select>
    <label>Aeroporto di destinazione</label>
    <select [(ngModel)]="aerDestInput" style="margin: 5px">
      <option *ngFor="let aeroporto of aeroporti" [ngValue]="aeroporto">{{aeroporto.nome}} </option>
    </select>
    <button class="btn" style="color: black" (click) = "aggiungiTratta()">Aggiungi</button>
  </form>
  <br>
  <br>
  <table class="pure-table pure-table-bordered">
    <thead>
    <tr>
      <th>Aeroporto di partenza</th>
      <th>Aeroporto di destinazione</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let tratta of tratte">
      <td>{{tratta.aeroportoPartenza.nome}}</td>
      <td>{{tratta.aeroportoDestinazione.nome}}</td>
    </tr>

    <tbody>
    <tr>
      <td>ok</td>
      <td>ok</td>
    </tr>

    </tbody>
  </table>
</div>

</body>
</html>
