html {
  overflow-y: scroll;
}

body{
  position: absolute;
}

div{
  border-radius: 5px;
}

div.tabellaAeroportiVoli{
  position: absolute;
  top: 150px;
  border-radius: 10px;
  left: 20px;
}

div.aggiuntaAeroporto{
  text-align: center;
}

form{
  position: relative;
  top: 5px;
}

div.tabellaTratteVoli{
  position: absolute;
  top: 150px;
  border-radius: 10px;
  left: 600px;
  text-align: center;
}

div.tabellaTratte, div.tabellaVoli, div.tabellaAeroporti, div.aggiuntaVoli{
  background: #68bdff;
}

div.tabellaVoli{
  width: 600px;
}

tr.cellaTratte:hover,tr.cellaAeroporti:hover, tr.cellaVoli:hover{
  background: #1dff31;
}

.datepicker{
  color: #3f0900;
}

