<html>
<body>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      <h1>Unical Airlines</h1>
    </div>
  </div>

  <div id="banner-wrapper">
    <div id="banner" class="container">
      <div class="title">
        <h2>Benvenuto! Pronto a viaggiare?</h2>
        <span class="byline">Sei un amministratore o un utente?</span>
      </div>
      <div>
        <a routerLink="/amministratore" class="button">Amministratore</a>
        <a routerLink="/utente" class="button">Utente</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
